* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color:rgb(238, 238, 238);
    font-weight: 700;
}
body{
    background-color: rgb(34, 40, 49);
    color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cima {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(57, 62, 70);
    padding: 10px 20px;
    box-sizing: border-box;
    padding-left: 100px;
    padding-right: 100px;
}
.cont{
    color: rgb(131, 153, 173);
    transition: 200ms ease-in-out;
}
.cont:hover{
    color: aliceblue;
    text-shadow: 0px 0px 8px ;
    transform: scale(1.05);
}
.gen{
    background: linear-gradient(45deg, #00b3ff, #045888, #0383f4, #1603f1, #00ffd5, #07294c, #00ffff, #161754, #5900ff);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: glowing 20s linear infinite;
}

@keyframes glowing {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.geral{
    display: flex;
    flex-direction: column;
}
.divimgs{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-right: 450px;
    margin-left: 450px;
    padding: 10px ;
    border-radius: 10px;
    background-color:rgb(0, 173, 181) ;
    
}
.imgs{
    max-width: 55px;
    max-height: 55px;
    width: auto;
    height: auto;
}
#html{
    margin: 0px 20px 0px 100px;
    transition: 200ms ease-in-out;
    border-radius: 10px;
}
#html:hover{
    transform: scale(1.07);
    
}
#css{
    transition: 200ms ease-in-out;
    border-radius: 10px;
}
#css:hover{
    transform: scale(1.07);
    
}
#js{
    margin: 0px 0px 0px 20px;
    transition: 200ms ease-in-out;
    border-radius: 10px;
}
#js:hover{
    transform: scale(1.07);
    
}
#fer{
    margin: 20px 0px 0px 0px;
}
.para{
    background-color:rgb(57, 62, 70) ;
    margin-top: 100px;
    margin-left: 32%;
    width: 500px;
    padding: 10px;
    border-radius: 10px;
}
